<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ng-class='{active: PAGE === "all"}'>
       <a href="/contacts">All Contacts</a>
      </li>
      <li ng-class='{active: PAGE === "new"}'>
        <a href="/contact/new">New Contact</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li ng-class='{active: PAGE === "settings"}'>
       <a href="/settings">Settings</a>
      </li>
      <li >
       <a href="/logout" target="_self">Log Out</a>
      </li>
    </ul>
  </div>
</nav>