<h2>Settings</h2>
<p>Choose the fields to display in the list view: </p>
<div class="checkbox" ng-repeat='field in allFields'>
  <label for=""><input type="checkbox" value="{{field}}" ng-click="toggle(field)" ng-checked='{{fields.indexOf(field) > -1}}' /> {{field | labelCase}}</label>
</div>