<h2>{{contact.firstName[0]}} {{contact.lastName[0]}}</h2>
<form name="editContact" class="form-horizontal">
  <form-field record='contact' field='firstName' required='true'></form-field>
  <form-field record='contact' field='lastName' required='true'></form-field>
  <form-field ng-repeat='(k,v) in contact | keyFilter: "firstName" | keyFilter: "lastName" | keyFilter: "id" | keyFilter: "userId"' record='contact' field='{{k}}'></form-field>
  <new-field record='contact'></new-field>
  <div class="row form-group">
    <div class="col-sm-offset-2">
      <button class="btn btn-danger" ng-click='delete()'>Delete Contact</button>
    </div>
  </div>
</form>